.container {
  margin: 50px !important;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.product-details {
  margin-top: 100px !important;


}

.product-details-info {
  display: flex;
  flex-direction: column;

}

.product-details-info h6 {
  margin-bottom: 20px !important;
  font-weight: bold;
}

.similar-products .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.similar-products .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-products .card-price {
  /* color: skyblue; */
  font-weight: bold;
}

.similar-products button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.similar-products .card-text {
  color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
  transform: scale(0.9);
  transition-duration: 300ms;
}

.similar-products .card-img-top {
  height: 280px !important;
  width: 287px !important;
  transition-duration: 300ms;

}


@media screen and (max-width: 566px) {
  .product-details-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  

  }